In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [2]:
seed = 6969696969
random.seed(seed)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
path = "/content/drive/MyDrive/French_accidents/places.csv"
df = pd.read_csv(path, low_memory=False)

In [23]:
df.rename( columns= { "catr": "road_type", "voie": "road_num", "circ": "traffic_type", "nbv": "num_lanes", "vosp": "bike_lane_type",
                     "prof": "terrain_type", "plan": "curve_type", "pr1": "pr_distance", "lartpc": "central_width", "larrout": "width", "surf": "condition",
                      "infra": "infrastructure", "env1": "school"}, inplace=True)

In [24]:
df.count()

Num_Acc           839985
road_type         839984
road_num          780914
v1                332816
v2                 33953
traffic_type      839187
num_lanes         838195
pr                414770
pr_distance       413463
bike_lane_type    838345
terrain_type      838924
curve_type        838909
central_width     830440
width             831706
condition         838968
infrastructure    838707
situ              838983
school            838709
dtype: int64

In [25]:
df.head()

,Num_Acc,road_type,road_num,v1,v2,traffic_type,num_lanes,pr,pr_distance,bike_lane_type,terrain_type,curve_type,central_width,width,condition,infrastructure,situ,school
0,201600000001,3.0,39,NaN,NaN,2.0,0.0,NaN,NaN,0.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0
1,201600000002,3.0,39,NaN,NaN,1.0,0.0,NaN,NaN,0.0,1.0,2.0,0.0,58.0,1.0,0.0,1.0,0.0
2,201600000003,3.0,1,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,3.0,0.0,68.0,2.0,0.0,3.0,99.0
3,201600000004,4.0,0,NaN,NaN,2.0,0.0,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,99.0
4,201600000005,4.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0

## Road Type

    1 - Highway

    2 - National Road

    3 - Departmental Road

    4 - Communal Way

    5 - Off public network

    6 - Parking lot open to public traffic

    9 - other

In [26]:
df['road_type'].value_counts()

4.0    425061
3.0    262690
2.0     67918
1.0     61077
9.0     16084
6.0      5520
5.0      1634
Name: road_type, dtype: int64

In [27]:
df['road_type'].isna().sum()

1

In [28]:
df['road_type'].fillna(9.0)

0         3.0
1         3.0
2         3.0
3         4.0
4         4.0
         ...
839980    4.0
839981    4.0
839982    4.0
839983    4.0
839984    2.0
Name: road_type, Length: 839985, dtype: float64

## Road number

In [33]:
df['road_num'].value_counts()

0        451032
1         22224
6          8953
7          8055
4          7173
          ...
00CR7         1
2913          1
00D75         1
00D18         1
1560          1
Name: road_num, Length: 1087, dtype: int64

In [34]:
df['road_num'].isna().sum()

59071

In [35]:
df['road_num'].fillna(0)

0         39
1         39
2          1
3          0
4          0
          ..
839980     0
839981     0
839982     0
839983     0
839984     0
Name: road_num, Length: 839985, dtype: object

## V1

Route number numeric index (?)

In [36]:
df['v1'].value_counts()

0.0    325698
2.0      3307
1.0      1020
3.0       768
6.0       461
4.0       396
7.0       392
9.0       295
8.0       247
5.0       232
Name: v1, dtype: int64

In [38]:
df['v1'].isna().sum()

507169

## V2

Letter alphanumeric index of road

In [19]:
df['v2'].value_counts()

A    20069
D     2200
N     1976
E     1942
B     1372
0     1091
C     1011
a      879
b      778
      537
F      263
e      213
S      177
G      140
1      134
R      114
L       99
2       92
P       77
J       71
H       70
3       70
M       63
K       52
Z       42
4       38
n       35
c       34
s       34
T       33
W       31
5       27
6       27
I       25
V       21
z       16
d       15
m       11
7       11
8       10
9        9
Y        7
O        7
Q        7
l        4
t        3
U        3
g        2
r        2
v        2
p        2
f        2
X        1
w        1
y        1
Name: v2, dtype: int64

In [39]:
df['v2'].isna().sum()

806032

## Traffic type

    1 - One way

    2 - Bidirectional

    3 - Separated carriageways

    4 - With variable assignment channels

In [40]:
df['traffic_type'].value_counts()

2.0    532823
1.0    149375
3.0    107855
0.0     44556
4.0      4578
Name: traffic_type, dtype: int64

In [45]:
df['traffic_type'].isna().sum()

798

In [43]:
df['traffic_type'].fillna(2.0)

0         2.0
1         1.0
2         2.0
3         2.0
4         0.0
         ...
839980    2.0
839981    2.0
839982    1.0
839983    2.0
839984    3.0
Name: traffic_type, Length: 839985, dtype: float64

## Number of lanes

In [44]:
df['num_lanes'].value_counts()

2.0     464716
0.0     102796
1.0     101345
4.0      76934
3.0      66252
6.0      13945
5.0       7839
8.0       2332
7.0        840
10.0       407
20.0       241
50.0       158
9.0        148
11.0        32
12.0        32
40.0        30
30.0        27
13.0        15
25.0        14
21.0        11
26.0         9
15.0         8
90.0         7
24.0         6
14.0         6
22.0         5
70.0         5
60.0         3
31.0         3
16.0         2
53.0         2
45.0         2
27.0         2
17.0         2
65.0         1
84.0         1
39.0         1
54.0         1
29.0         1
62.0         1
99.0         1
42.0         1
41.0         1
36.0         1
44.0         1
33.0         1
52.0         1
28.0         1
91.0         1
86.0         1
76.0         1
23.0         1
18.0         1
Name: num_lanes, dtype: int64

In [46]:
df['traffic_type'].isna().sum()

798

In [47]:
df['num_lanes'].fillna(2.0)

0         0.0
1         0.0
2         2.0
3         0.0
4         0.0
         ...
839980    3.0
839981    2.0
839982    2.0
839983    0.0
839984    2.0
Name: num_lanes, Length: 839985, dtype: float64

## Bike lane

    1 - Bike path

    2 - Cycle Bank

    3 - Reserved channel

In [48]:
df['bike_lane_type'].value_counts()

0.0    787021
3.0     23473
1.0     16570
2.0     11281
Name: bike_lane_type, dtype: int64

In [49]:
df['bike_lane_type'].isna().sum()

1640

In [50]:
df['bike_lane_type'].fillna(0.0)

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
839980    0.0
839981    0.0
839982    0.0
839983    0.0
839984    0.0
Name: bike_lane_type, Length: 839985, dtype: float64

## Terrain

    1 - Dish

    2 - Slope

    3 - Hilltop

    4- Hill bottom

In [52]:
df['terrain_type'].value_counts()

1.0    634776
2.0    114043
0.0     63894
3.0     15130
4.0     11081
Name: terrain_type, dtype: int64

In [53]:
df['terrain_type'].isna().sum()

1061

In [54]:
df['terrain_type'].fillna(1.0)

0         1.0
1         1.0
2         1.0
3         1.0
4         0.0
         ...
839980    1.0
839981    1.0
839982    1.0
839983    1.0
839984    1.0
Name: terrain_type, Length: 839985, dtype: float64

## PR number (?)

In [55]:
df['pr'].value_counts()

0.0       129543
1.0        29888
2.0        14437
3.0        11661
4.0         9761
           ...
474.0          1
475.0          1
4000.0         1
2600.0         1
1125.0         1
Name: pr, Length: 736, dtype: int64

In [56]:
df['pr'].isna().sum()

425215

## PR distance (?)

In [57]:
df['pr_distance'].value_counts()

0.0       173181
500.0      25276
200.0      15199
800.0      14751
100.0      13998
           ...
2101.0         1
1465.0         1
1278.0         1
1659.0         1
3437.0         1
Name: pr_distance, Length: 2127, dtype: int64

In [58]:
df['pr_distance'].isna().sum()

426522

## Road curve

    1 - Straight part

    2 - Curved on the left

    3 - Curved right

    4 - In "S"

In [59]:
df['curve_type'].value_counts()

1.0    639903
2.0     68483
3.0     61946
0.0     57847
4.0     10730
Name: curve_type, dtype: int64

In [61]:
df['curve_type'].isna().sum()

1076

In [62]:
df['curve_type'].fillna(1.0)

0         3.0
1         2.0
2         3.0
3         1.0
4         1.0
         ...
839980    1.0
839981    2.0
839982    1.0
839983    1.0
839984    2.0
Name: curve_type, Length: 839985, dtype: float64

## Central width

In [63]:
df['central_width'].value_counts()

0.0      699686
15.0      30770
10.0      18085
20.0      15641
30.0       7863
          ...
206.0         1
446.0         1
915.0         1
950.0         1
625.0         1
Name: central_width, Length: 371, dtype: int64

In [64]:
df['central_width'].isna().sum()

9545

## Width

In [66]:
df['width'].value_counts()

0.0      258253
60.0      71196
70.0      57400
80.0      25940
50.0      23066
          ...
665.0         1
985.0         1
916.0         1
909.0         1
363.0         1
Name: width, Length: 542, dtype: int64

In [67]:
df['width'].isna().sum()

8279

## Road condition

    1 - normal

    2 - wet

    3 - puddles

    4 - flooded

    5 - snow

    6 - mud

    7 - icy

    8 - fat - oil

    9 - other

In [68]:
df['condition'].value_counts()

1.0    652322
2.0    143254
0.0     26998
7.0      5474
9.0      4483
5.0      2643
8.0      2159
3.0       861
6.0       466
4.0       308
Name: condition, dtype: int64

In [69]:
df['condition'].isna().sum()

1017

## Infrastructure

    1 - Underground - tunnel

    2 - Bridge - autopont

    3 - Exchanger or connection brace

    4 - Railway

    5 - Carrefour arranged

    6 - Pedestrian area

    7 - Toll zone

In [70]:
df['infrastructure'].value_counts()

0.0    747965
5.0     50330
3.0     12853
2.0     11720
1.0      6994
6.0      5299
4.0      3034
7.0       512
Name: infrastructure, dtype: int64

In [71]:
df['infrastructure'].isna().sum()

1278

## Accident situation

    1 - On the road

    2 - On emergency stop band

    3 - On the verge

    4 - On the sidewalk

    5 - On bike path

In [73]:
df['situ'].value_counts()

1.0    722069
3.0     48818
0.0     43291
4.0     14493
2.0      5191
5.0      5121
Name: situ, dtype: int64

In [74]:
df['situ'].isna().sum()

1002

## Near school (?)

In [75]:
df['school'].value_counts()

0.0     477933
99.0    319986
3.0      40790
Name: school, dtype: int64

In [76]:
df['school'].isna().count()

839985

# Notes

## Problem points

* The meaning of the **PR** field (and by associatoin the **PR distance** field) and the **near school** field is not clear from neither the description nor the actual values present in the data. A lot of rows are also missing these, it might be best to ignore these fields.

* **Road number** and **V1** and **V2** most probably somehow correspond to the french road numbering system, but there are a large number of options and the meanings are not clear cut an there are a large number of missing rows for the latter two.

* Completely unrealistic values pop up in the **number of lanes**.

* **Width** and **central width** coloumn meanings are not exactly known.

## Categorical data

* There are a large number of columns which contain categorical data, these seem to be well generalizable via dummy columns.