# Vehicles

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/vehicles.csv', encoding='latin1')

In [3]:
def fill_with_most_common(df, column_name):
  most_common_value = df[column_name].mode()[0]
  df[column_name].fillna(most_common_value, inplace=True)

In [4]:
df.head()

        Num_Acc  senc  catv  occutc  obs  obsm  choc  manv num_veh
0  201600000001   0.0     7       0  0.0   0.0   1.0   1.0     B02
1  201600000001   0.0     2       0  0.0   0.0   7.0  15.0     A01
2  201600000002   0.0     7       0  6.0   0.0   1.0   1.0     A01
3  201600000003   0.0     7       0  0.0   1.0   6.0   1.0     A01
4  201600000004   0.0    32       0  0.0   0.0   1.0   1.0     B02

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1433389 entries, 0 to 1433388
Data columns (total 9 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Num_Acc  1433389 non-null  int64
 1   senc     1433317 non-null  float64
 2   catv     1433389 non-null  int64
 3   occutc   1433389 non-null  int64
 4   obs      1432627 non-null  float64
 5   obsm     1432788 non-null  float64
 6   choc     1433160 non-null  float64
 7   manv     1433083 non-null  float64
 8   num_veh  1433389 non-null  object
dtypes: float64(5), int64(3), object(1)
memory usage: 98.4+ MB

In [6]:
df.rename(columns={'senc': 'Flow direction','catv': 'Category', 'obs': 'Fix Obstacle', 'obsm': 'Mobile Obstacle', 'choc': 'Shock', 'manv': 'Maneuver', 'occutc': 'Occupants'}, inplace=True)

## Num_veh

Vehicle identifier included for each user occupying this vehicle (including pedestrians who are attached to the vehicles which struck them) – Alphanumeric code

In [7]:
df['num_veh'].value_counts()

A01    829287
B01    387462
B02    128469
C01     42417
Z01     14332
        ...
A06         1
C07         1
A07         1
B08         1
D56         1
Name: num_veh, Length: 132, dtype: int64

In [8]:
df['num_veh'].isna().sum()

0

## Category

Vehicle category:

- 01 - Bicycle

- 02 - Moped <50cm3

- 03 - Carriage (Quadricycle with body motor) (formerly "motor car or tricycle")

- 04 - Reference no longer used since 2006 (registered scooter)

- 05 - Reference no longer used since 2006 (motorcycle)

- 06 - Reference no longer used since 2006 (sidecar)

- 07 - VL only

- 08 - No longer used category (VL + caravan)

- 09 - No longer used category (VL + trailer)

- 10 - LCV only 1.5T <= GVW <= 3.5T with or without trailer (formerly LCV only 1.5T <= GVW <=3.5T)

- 11 - Reference no longer used since 2006 (UV (10) + caravan)

- 12 - Reference no longer used since 2006 (UV (10) + trailer)

- 13 - PL only 3.5T <PTCA <= 7.5T

- 14 - PL only > 7.5T

- 15 - PL > 3.5T + trailer

- 16 - Road tractor alone

- 17 - Road tractor + semi-trailer

- 18 - Reference no longer used since 2006 (public transport)

- 19 - Reference no longer used since 2006 (tramway)

- 20 - Special machine

- 21 - Agricultural tractor

- 30 - Scooter < 50 cm3

- 31 - Motorcycle > 50 cm3 and <= 125 cm3

- 32 - Scooter > 50 cm3 and <= 125 cm3

- 33 - Motorcycle > 125 cm3

- 34 - Scooter > 125 cm3

- 35 - Light Quad <= 50 cm3 (Quadricycle with unbodied engine)

- 36 - Heavy quad > 50 cm3 (Quadricycle with non-bodied engine)

- 37 - Bus

- 38 - Coach

- 39 - Train

- 40 - Tram

- 99 - Other vehicle (including pedestrian)

In [9]:
df['Category'].value_counts()

7     890217
33     97185
2      79884
10     70205
30     59918
1      58128
32     29596
31     28038
5      21816
14     15392
34     13436
15     11782
17     11501
37      9071
4       7463
99      5441
13      5295
3       5008
21      2762
38      2524
18      2075
36      1624
40      1555
20      1383
16       657
35       367
39       328
9        300
19       183
8        120
12        79
6         39
11        17
Name: Category, dtype: int64

In [10]:
df['Category'].isna().sum()

0

## Fix Obstacle

Fixed obstacle hit:

  1 – Parked vehicle

  2 – Tree

  3 – Metal slide

  4 – Concrete slide

  5 – Other slide

  6 – Building, wall, bridge pier

  7 – Vertical signaling support or emergency call station

  8 – Post

  9 – Urban furniture

  10 – Parapet

  11 – Island, refuge, upper boundary

  12 – Curbside

  13 – Ditch, embankment, rock wall

  14 – Other fixed obstacle on the roadway

  15 – Other fixed obstacle on sidewalk or shoulder

  16 – Exiting the roadway without obstacles

In [11]:
df['Fix Obstacle'].value_counts()

0.0     1248215
1.0       31072
13.0      23630
2.0       20263
4.0       16098
6.0       15635
3.0       15585
8.0       14809
14.0      10407
12.0       7989
16.0       7808
15.0       6497
9.0        4498
11.0       3487
7.0        3006
5.0        1933
10.0       1695
Name: Fix Obstacle, dtype: int64

In [12]:
df['Fix Obstacle'].isna().sum()

762

In [13]:
df['Fix Obstacle'].fillna(0)

0          0.0
1          0.0
2          6.0
3          0.0
4          0.0
          ...
1433384    0.0
1433385    0.0
1433386    0.0
1433387    0.0
1433388    4.0
Name: Fix Obstacle, Length: 1433389, dtype: float64

## Mobile Obstacle

Moving obstacle struck:

  1 – Pedestrian

  2 – Vehicle

  4 – Rail vehicle

  5 – Pet

  6 – Wild animal

9 – Other

In [14]:
df['Mobile Obstacle'].value_counts()

2.0    949636
0.0    312044
1.0    146011
9.0     20461
6.0      1954
5.0      1357
4.0      1325
Name: Mobile Obstacle, dtype: int64

In [15]:
df['Mobile Obstacle'].isna().sum()

601

In [16]:
df['Mobile Obstacle'].fillna(0)

0          0.0
1          0.0
2          0.0
3          1.0
4          0.0
          ...
1433384    2.0
1433385    2.0
1433386    2.0
1433387    2.0
1433388    0.0
Name: Mobile Obstacle, Length: 1433389, dtype: float64

## Shock

Initial shock point:

  1 - Before

  2 – Front right

  3 – Front left

  4 – Back

  5 – Right back

  6 – Left rear

  7 – Right side

  8 – Left side
  
  9 – Multiple impacts (rollovers)

In [17]:
df['Shock'].value_counts()

1.0    531553
3.0    204636
2.0    165642
4.0    132518
8.0    105565
0.0     97717
7.0     88074
6.0     47388
5.0     37260
9.0     22807
Name: Shock, dtype: int64

In [18]:
df['Shock'].isna().sum()

229

In [19]:
df['Shock'].fillna(0)

0          1.0
1          7.0
2          1.0
3          6.0
4          1.0
          ...
1433384    3.0
1433385    3.0
1433386    1.0
1433387    1.0
1433388    0.0
Name: Shock, Length: 1433389, dtype: float64

## Maneuver

Main maneuver before the accident:

-  1 – Without change of direction

-   2 – Same direction, same line

-   3 – Between 2 lines

-   4 – In reverse

-   5 – Against the grain

-   6 – Crossing the central reservation

-   7 – In the bus lane, in the same direction

-   8 – In the bus lane, in the opposite direction

-   9 – By inserting yourself

-   10 – When making a U-turn on the road

Changing lanes

- 11 – Left

- 12 – Right

Deported

- 13 – Left

- 14 – Right

- Turning point

- 15 – Left

- 16 – Right

Exceeding

- 17 – Left

- 18 – Right

Miscellaneous

- 19 – Crossing the road

- 20 – Parking maneuver

- 21 – Avoidance maneuver

- 22 – Door opening

- 23 – Stopped (excluding parking)

- 24 – Parked (with occupants)

In [20]:
df['Maneuver'].value_counts()

1.0     631200
2.0     163463
15.0    127031
0.0     118546
13.0     59922
17.0     48701
23.0     37726
16.0     32035
9.0      31288
19.0     27750
14.0     22580
21.0     22064
11.0     15165
5.0      14740
10.0     13782
12.0     12765
4.0      12749
3.0       9673
18.0      6984
20.0      6674
7.0       5160
24.0      5048
22.0      4207
6.0       3097
8.0        733
Name: Maneuver, dtype: int64

In [21]:
df['Maneuver'].isna().sum()

306

In [22]:
df['Maneuver'].fillna(1)

0           1.0
1          15.0
2           1.0
3           1.0
4           1.0
           ...
1433384     1.0
1433385    19.0
1433386    17.0
1433387     1.0
1433388     1.0
Name: Maneuver, Length: 1433389, dtype: float64

## Occupants

Number of occupants on public transport

In [23]:
df['Occupants'].value_counts()

0      1423666
1         4770
2          696
10         554
3          359
        ...
184          1
153          1
240          1
125          1
470          1
Name: Occupants, Length: 114, dtype: int64

In [24]:
df['Occupants'].isna().sum()

0

## Flow direction

Flow direction :

  1 – PK or PR or ascending postal address number

  2 – PK or PR or decreasing postal address number

In [25]:
df['Flow direction'].value_counts()

0.0    1322803
1.0      74935
2.0      35579
Name: Flow direction, dtype: int64

In [26]:
df['Flow direction'].isna().sum()

72

In [27]:
df.drop('Flow direction', axis=1, inplace=True)

# Result

In [31]:
df.columns

Index(['Num_Acc', 'Category', 'Occupants', 'Fix Obstacle', 'Mobile Obstacle',
       'Shock', 'Maneuver', 'num_veh'],
      dtype='object')

In [30]:
df.to_csv('data/vehicles_prepped.csv', index=False)

# Notes

Bad news

- **Flow direction:** should be thrown out. 92% of this data is null, and not sure what we can use it for in the first place

General

- Occupants: 99% zero, because only filled out when a public transport is involved (have to be checked if this few public transport accidents are, or if they just don't fill it in)

Question

- Mobile Obstacle: There is an "9 - other" code and a lot of invalid "0" codes. Should we fill the 0-s with 9-s?

In [28]:
1322803/1433389

0.922849973035931

In [29]:
1423666/1433389

0.9932167750694334